@using MvcAdmin.Model;
@{
    Layout = null;
    MModule m = ViewData["model"] as MModule;
    List<MModuleCategory> mm = ViewData["model02"] as List<MModuleCategory>;
}
<script type="text/javascript">
    function updModule() {
        $('#fff').form('submit', {
            url: "/Admin/Handle/UpdModule",
            onSubmit: function () {
                //进行表单验证
                //如果返回false阻止提交
                if ($("input[name=ModuleName]").val() == "") {
                    alert('请填写模块名')
                    return false;
                }
                if ($("input[name=CommandParameter]").val() == "") {
                    alert('请填写模块参数')
                    return false;
                }
                if ($("select[name=CategoryId]").val() == "0") {
                    alert('请选择分组')
                    return false;
                }
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data)
                if (obj.success) {
                    alert('ok')
                    loadContent('/Admin/Home/Module')
                }
               
            }
        });
    }
</script>
<span class="tip-title">修改模块</span>

<form class="f-layout" id="fff">
<a href="javascript:;" class="app-button" onclick="loadContent('/Admin/Home/Module')">返回</a>
 <input type="hidden" name="id" value="@m.Id" />
<div class="label">
<span>模块名:</span>
<input type="text" name="ModuleName" placeholder="账户名"  value="@m.ModuleName"/>
</div>
<div class="label">
<span>模块分组:</span>
<select name="CategoryId">
    @foreach(var n in mm){
        if (n.Id == m.CategoryId) { 
    <option value="@n.Id" selected="selected">@n.CategoryName</option>    
        }else{
    <option value="@n.Id">@n.CategoryName</option>
        }
     }
</select>
</div>
<div class="label">
<span>模块参数:</span>
<input type="text" name="CommandParameter" placeholder="模块参数" value="@m.CommandParameter" />
</div>
<div class="label"><span>Subject :</span>
<input type="button" class="button" value="提交" onclick="updModule()"/>
</div>
</form >

